
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}
.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.home .title {
  width: 80%;
  padding: 1em;
  margin: 2em 1em .5em 1em;
}
.home .subtitle{
  text-align: center;
  width: 70%; 
  margin: 1em auto;
  padding: 1em;
}
.socials-container {
  margin-top: 1rem;
}
.works {
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
