.type {
  display: inline;
}

.cursor {
  display: inline-block;
  margin-left: 1px;
  color: var(--c-green);
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .cursor {
    animation: none;
  }
}
